
<div class="about-section">
  <h1>About Us </h1>
  <p > Furniture Mart is India’s largest furniture brand in both home and institutional segments. We started our journey from manufacturing the humble Storwel cupboard 80 years back to an altogether new avatar with vibrant, innovative and diverse product portfolio – it’s been a brilliant and exciting journey for us.

    We love bringing alive your dream space. We emphasize comfort and aesthetics while delivering well designed and functional furniture to you.
    
    True to the Godrej mission to conserve the environment, we design products, set up processes and use raw materials consciously to do our bit to preserve natural resources.
    
    With presence over 430 cities with 52 company owned stores and over 800 dealers, we are one of the largest divisions of Godrej & Boyce Mfg. Co. Ltd. - part of the Godrej Group, one of India’s largest engineering and consumer product group.
  </p>
</div>

<h2 style="text-align:center">Our branches</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Pune </h2>
        <p class="title"> At Wakad</p>
        <p>VIJAY SALES, CTS No. 220/ 16 - 17, Patel Estate Road, Near Telephone Exchange & 24 Karat, Opposite Patel Industry, Pune - 400102</p>

        <p><button  class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div class="container">
        <h2>Thane</h2>
        <p class="title">At Manpada</p>
        <p> R Mall Near Patel Estate Road, M.G Road, Next To SindhuwadiCourt Naka,Thane (West), Thane, Maharashtra 400601
        <p><button class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="container">
        <h2>Mumbai</h2>
        <p class="title">At Bandra</p>
        <p>G-1, Megor Arcade, M.G Road, Next To Sindhuwadi, Near Satyam Shopping, Centre, Sindhu Wadi, Bandra East, Mumbai, Maharashtra 400077 .</p>

        <p><button class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>
</div>
