.example-spacer {
  flex: 1 1 auto;
}

/* .container{
  margin-top:5%;
} */
/* Style to create scroll bar in dropdown */
.scrollable-dropdown{
    height: auto;
    max-height:320px;  /* Increase / Decrease value as per your need */
    overflow-x: hidden;
}

a:hover {
  background-color: #c8d835;
  color: white;
}


a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
