<mat-toolbar color="Accent">
<mat-toolbar-row>
  <img src="" style="max-height: 50px;"><mat-icon style="padding-left: 40px;" >furniture</mat-icon>
  <h1 style="padding: 35px;">Furniture Mart</h1>
  <span class="example-spacer"></span>

  
  <div>
<mat-toolbar color="Accent">
<mat-toolbar-row >
    <a mat-button routerLink="/Home">HOME</a>
    <!-- <a mat-button routerLink="/aboutus">ABOUT US</a> -->
    <a mat-button routerLink="/contactus">CONTACT US</a>
    <a mat-button routerLink="/Login">LOGIN</a>
    <!-- <a mat-button routerLink="/AdminLogin">ADMIN</a> -->
    <a mat-button routerLink="/Cart" >
      <mat-icon>shopping_cart</mat-icon> </a>
</mat-toolbar-row>
</mat-toolbar>

