/* .footer {
  position:static;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #0f28b4;
} */

footer.page-footer a {
  color: #fff;
}

.font-small {
  font-size: .9rem;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.2);
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

.blue {
  background-color: #c8d835 !important;
}
