#userlist
{
  border: 3px solid gainsboro;
  border-radius:15px;
  padding:25px;
  width:100%;
  background-color: gainsboro;
  position: relative;
}
.productlist
{
  padding-top:85px;
}

tbody
{
  overflow: scroll;
}
