
<h2 style="text-align:center">Service Center</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Pune </h2>
        <p class="title"> Mumbai</p>
        <p>Dream SALES, CTS No. 220/ 16 - 17, Patel Estate Road, Near Telephone Exchange & 24 Karat, Opposite Patel Industry, Mumbai - 400102</p>

        <p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div class="container">
        <h2>Thane</h2>
        <p class="title">Banglore</p>
        <p> R Mall Near Patel Estate Road, M.G Road, Next To SindhuwadiCourt Naka,Banglore 400601

      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="container">
        <h2>Mumbai</h2>
        <p class="title">Delhi</p>
        <p>G-1, Megor Arcade, M.G Road, Next To Sindhuwadi, Near Satyam Shopping, Centre, Sindhu Wadi,Delhi 400077 .</p>
      </div>ng Service
    </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="container">
        <h2>Call Us</h2>
        <p class="title" style="font-size: larger;">022-1234567</p>

    </div>
  </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="container">
        <h2>Email Us</h2>
        <p class="title" style="font-size: larger;">FurnitureMart@gmail.com</p>
    </div>
  </div>
  </div>

