<div class="category"></div>
<div class="container" id="category">
  <h1 class="text-center">Add Category</h1>
  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
          <label for="categoryName">categoryName:</label>
          <input
              formControlName="categoryName"
              id="categoryName"
              type="text"
              class="form-control">
          <div *ngIf="f['categoryName'].touched && f['categoryName'].invalid" class="alert alert-danger">
              <div *ngIf="f['categoryName'].errors && f['categoryName'].errors['required']">categoryName is required.</div>
          </div>
      </div>
    <br>
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
      &nbsp; <button type="reset" class="btn btn-danger">Cancel</button>
  </form>
</div>
